<a href="https://colab.research.google.com/github/saks0106/Frequent-Lookouts/blob/main/Univariate_Imputation_Missing_True_False_Indicator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If missing values are present in a column, we make another column having True and False values if data is missing or not. False if values are present and True if 'Na' present. Model will try to find pattern between original and orginal_True_False column which can actually increase model accuracy

In [18]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator,SimpleImputer

In [19]:
df = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [20]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [21]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [23]:
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [24]:
si = SimpleImputer() #gives np.array
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [25]:
X_train_trf

array([[ 40.        ,  27.7208    ],
       [  4.        ,  16.7       ],
       [ 47.        ,   9.        ],
       ...,
       [ 71.        ,  49.5042    ],
       [ 29.78590426, 221.7792    ],
       [ 29.78590426,  25.925     ]])

In [26]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf,y_train)

y_pred = clf.predict(X_test_trf)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6145251396648045

Adding seperate True False column for missing value

In [27]:
mi = MissingIndicator()

mi.fit(X_train)

MissingIndicator()

In [28]:
mi.features_ #missing value in 0th feature ie Age

array([0])

In [29]:
X_train_missing = mi.transform(X_train) #just transform as we are not changing the original value
X_test_missing = mi.transform(X_test)

In [30]:
X_train['Age_NA'] = X_train_missing

In [31]:
X_test['Age_NA'] = X_test_missing

In [32]:
X_train

      Age      Fare  Age_NA
30   40.0   27.7208   False
10    4.0   16.7000   False
873  47.0    9.0000   False
182   9.0   31.3875   False
876  20.0    9.8458   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[712 rows x 3 columns]

In [33]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [34]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173

add_indicator in SimpleImputer adds this True and False value column if **add_indicator=True**. So no need of MissingIndicator()

In [35]:
si = SimpleImputer(add_indicator=True)

In [36]:
X_train = si.fit_transform(X_train)

In [37]:
X_test = si.transform(X_test)

In [38]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173